body{
    background-color: violet;
}
@media only screen and (max-width:700px)
 {
     body{
         background-color:blue;
     }
 }
#GridContainer {
    display: grid;
    grid-template-areas: 
    'header header header'
    'left main right'
    'left main right';
}
div{ 
    border:2px solid black
    
}
#piglet{
    grid-area: right;
}

#item1 {
    grid-area: header;
    text-align: center;
    height: 100px;
    width: 1050px;
    padding: 20px;
    margin:20px;
    background-color: white;
}

#item2 {
    grid-area: left;
    height: 200px;
    width: 300px;
    padding: 20px;
    margin:20px;
    background-color: white;
}

#item3 {
    grid-area: main;
    height: 200px;
    width: 600px;
    padding: 10px;
    margin:20px;
    background-color: white;

}
@keyframes piglet {
    0%{
        transform: rotate(0deg);
    }
    50%{
       transform: rotate(-180deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }

   img{
       animation-name: piglet;
       animation-duration: 2s;
       animation-iteration-count: infinite;
   }