* { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color:rgb(224, 184, 247);
    border: 2px solid black;
}
h1{ color:darkviolet;
}

#P1{ 
    color:rgb(252, 13, 48)
}

.form{
    background-color: #e2e2e2;
}